<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>ElectroGreen - Electronics, Environment and Renewable Energy</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap"
        rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark p-0">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <small class="fa fa-map-marker-alt text-primary me-2"></small>
                    <small>Babcock Univeristy, Ogun State, Nigeria</small>
                </div>
                
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <small class="fa fa-envelope text-primary me-2"></small>
                    <small>contact@ElectroGreen.com</small>
                </div>
                <!-- <div class="h-100 d-inline-flex align-items-center mx-n2">
                    <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-square btn-link rounded-0" href=""><i class="fab fa-instagram"></i></a>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="home.html" class="navbar-brand d-flex align-items-center border-end px-2 px-lg-3">
            <h2 class="m-0 text-primary" id="navbarLogo">ElectroGreen</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="home.html" class="nav-item nav-link">Home</a>
                <a href="about.html" class="nav-item nav-link">About</a>
                <a href="service.html" class="nav-item nav-link">Services</a>
                <!-- <a href="project.html" class="nav-item nav-link">Projects</a> -->
                <a href="team.html" class="nav-item nav-link">Our Team</a>
                <a href="repair.html" class="nav-item nav-link">Electronics Repair</a>
                <a href="certification-services.html" class="nav-item nav-link">E-Waste Certification</a>
                <a href="disposal-services.html" class="nav-item nav-link">E-Waste Disposal</a>
                <a href="solar-electronics.html" class="nav-item nav-link">Solar Electronics</a>
                <a href="partnership-account.html" class="nav-item nav-link">Partnerships</a>
                 <!-- <a href="#" class="nav-item nav-link">Partnership</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Partnership</a>
                    <div class="dropdown-menu bg-light m-0">
                        <a href="disposal-account.html" class="dropdown-item">Disposal Agencies</a>
                        <a href="#" class="dropdown-item">Recycling Agencies</a>
                        <a href="#" class="dropdown-item">Electronics Repair</a>
                        <a href="community-awareness.html" class="dropdown-item">Community Awareness</a>
                         <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                        <a href="404.html" class="dropdown-item">404 Page</a>
                    </div>
                </div> -->
                <a href="nigerian-owned.html" class="nav-item nav-link active">Nigerian</a>
            </div>
           
            <a href="contact.html" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Contact<i
                class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Nigerian Owned Agencies</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Services</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Nigerian Owned  Agencies</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Projects Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px">
                <h6 class="text-primary">Our Nigerian Owned Service Providers</h6>
                <h1 class="mb-4">
                    This page is primarily for companies or individuals who would like to patronize or work with Nigerian Owned electronic service providers
                </h1>
            </div>
            <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-12 text-center">
                    <ul class="list-inline mb-5" id="portfolio-flters">
                        <!-- <li class="mx-2 active" data-filter="*">All</li> -->
                        <!-- <li class="mx-2" data-filter=".first">Electronic Waste Disposal</li> -->
                        <!-- <li class="mx-2" data-filter=".second">Solar Electronics</li> -->
                        <li class="mx-2" data-filter=".third">Nigerian Owned</li>
                        <!-- <li class="mx-2" data-filter=".fourth">Electronics Repair</li> -->
                    </ul>
                </div>
            </div>

            <div class="row g-4 portfolio-container wow fadeInUp" data-wow-delay="0.5s">
                <div class="col-lg-4 col-md-6 portfolio-item third">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src="img/ecozar.jpeg" alt="" />
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
                                href="img/ecozar.jpeg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
                                href="https://shorturl.at/kOR08"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="pt-3">
                        <p class="text-primary mb-0">Ecozar</p>
                        <hr class="text-primary w-25 my-2" />
                        <h5 class="lh-base">
                            Pioneers of solar & renewable energy industry in Nigeria
                        </h5>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item third">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src="img/relief.jpg" alt="" />
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
                                href="img/relief.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
                                href="https://ewasterelief.org/"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="pt-3">
                        <p class="text-primary mb-0">
                            E-Waste Relief Foundation- E-Waste Awareness Program
                        </p>
                        <hr class="text-primary w-25 my-2" />
                        <h5 class="lh-base">
                            Promoting public awareness on e-waste and supporting the
                            creation of eco-friendly e-waste initiatives in Nigeria.
                        </h5>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item third">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src="img/rubitec-2.jpeg" alt="" style="width: 27rem" />
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="img/rubitec-2.jpeg"
                                data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
                                href="https://www.rubitecsolar.com/"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="pt-3">
                        <p class="text-primary mb-0">
                            Rubitec Nigeria Ltd- Nigerian Owned
                        </p>
                        <hr class="text-primary w-25 my-2" />
                        <h5 class="lh-base">
                            Distributors of Solar Systems and specialists in the design and
                            supply of photovoltaic power sources and back-up systems for a
                            wide range of applications.
                        </h5>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item third fourth">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src="img/repNG.png" alt="" style="width: 27rem" />
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" href="img/repairNG.jpeg"
                                data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
                                href="https://https://repair.ng/"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="pt-3">
                        <p class="text-primary mb-0">
                            Repair.NG
                        </p>
                        <hr class="text-primary w-25 my-2" />
                        <h5 class="lh-base">
                            Repair services for damaged electronics
                        </h5>
                    </div>
                </div>

                 <!-- auto approve - currently displays everywhere-->
                 <div id="app" class="col-lg-4 col-md-6 portfolio-item" v-for="agency in agencies" :key="agency._id" :class="agency.agencySpecialty || 'first'">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid partner-image" :src="agency.agencyLogo" alt="" style="width: 27rem"/>
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1" :href="agency.agencyLogo"
                                data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-light rounded-circle mx-1"
                                :href="agency.agencyWebsite"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="pt-3">
                        <p class="text-primary mb-0">{{ agency.agencyName }}</p>
                        <hr class="text-primary w-25 my-2" />
                        <h5 class="lh-base">{{ agency.agencyIntroduction }}</h5>
                    </div>
                </div>
                <!-- end auto approve -->

            </div>
        </div>
    </div>
    <!-- Projects End -->
    
     <!-- Contact Start -->
     <div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0;">
        <div class="container contact px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-9 contact-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 ps-lg-0">
                        <h6 class="text-primary">Inquiry Form</h6>
                        <h1 class="mb-4">Make inquiries about our Nigerian service providers</h1>
                        <p class="mb-4">
                            If you have questions on how to invest in, work with, or patronize a Nigerian owned electronics service provider, fill the form below.
                        </p>
                        <form action="https://formsubmit.co/solarinsarah3@gmail.com" method="POST">
                            <div class="row g-3">
                                <div class="col-12">
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select class="form-select" id="state" aria-label="Residential State" name="state">
                                            <option selected disabled>Select State</option>
                                            <option value="Abia">Abia</option>
                                            <option value="Adamawa">Adamawa</option>
                                            <option value="Akwa Ibom">Akwa Ibom</option>
                                            <option value="Anambra">Anambra</option>
                                            <option value="Bauchi">Bauchi</option>
                                            <option value="Bayelsa">Bayelsa</option>
                                            <option value="Benue">Benue</option>
                                            <option value="Borno">Borno</option>
                                            <option value="Cross River">Cross River</option>
                                            <option value="Delta">Delta</option>
                                            <option value="Ebonyi">Ebonyi</option>
                                            <option value="Edo">Edo</option>
                                            <option value="Ekiti">Ekiti</option>
                                            <option value="Enugu">Enugu</option>
                                            <option value="Gombe">Gombe</option>
                                            <option value="Imo">Imo</option>
                                            <option value="Jigawa">Jigawa</option>
                                            <option value="Kaduna">Kaduna</option>
                                            <option value="Kano">Kano</option>
                                            <option value="Katsina">Katsina</option>
                                            <option value="Kebbi">Kebbi</option>
                                            <option value="Kogi">Kogi</option>
                                            <option value="Kwara">Kwara</option>
                                            <option value="Lagos">Lagos</option>
                                            <option value="Nasarawa">Nasarawa</option>
                                            <option value="Niger">Niger</option>
                                            <option value="Ogun">Ogun</option>
                                            <option value="Ondo">Ondo</option>
                                            <option value="Osun">Osun</option>
                                            <option value="Oyo">Oyo</option>
                                            <option value="Plateau">Plateau</option>
                                            <option value="Rivers">Rivers</option>
                                            <option value="Sokoto">Sokoto</option>
                                            <option value="Taraba">Taraba</option>
                                            <option value="Yobe">Yobe</option>
                                            <option value="Zamfara">Zamfara</option>
                                        </select>
                                        <label for="state">Residential State</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="area" placeholder="Your Area of Residence" name="area">
                                        <label for="area">Area of residence within state e.g Lekki..</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <select class="form-select" id="agency" aria-label="disposal-agency" name="agency">
                                        <option selected disabled>Select Nigerian Agency of Interest</option>
                                        <option value="agency1">Ecozar</option>
                                        <option value="agency2">E-waste Relief Foundation</option>
                                        <option value="agency3">Rubitec</option>
                                        <option value="agency4">Repair.NG</option>
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="number" placeholder="Your Phone Number" name="number">
                                        <label for="number">Phone Number</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email" name="email">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                               
                                <div class="col-12">
                                    <select class="form-select" id="inquiry" aria-label="Waste size" name="inquiry">
                                        <option selected disabled>Service Inquiry Type</option>
                                        <option value="investment">Investment</option>
                                        <option value="collaboration">Collaboration</option>
                                        <option value="service-patronizing">Service Patronizing</option>
                                    </select>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 100px" name="message"></textarea>
                                        <label for="message">Additional information</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">Submit request</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 pe-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <iframe class="position-absolute w-100 h-100" style="object-fit: cover;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                        frameborder="0" allowfullscreen="" aria-hidden="false"
                        tabhome="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
        

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-body footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Address</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Babcock Univeristy, Ogun State, Nigeria</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>contact@ElectroGreen.com</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
               <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="about.html">About Us</a>
                    <a class="btn btn-link" href="contact.html">Contact Us</a>
                    <a class="btn btn-link" href="service.html">Our Services</a>
                    <a class="btn btn-link" href="terms.html">Terms & Condition</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Project Gallery</h5>
                    <div class="row g-2">
                        <div class="col-4">
                            <img class="img-fluid rounded gallery-img" src="img/ecozar.jpeg" alt="" />
                        </div>
                        <div class="col-4">
                            <img class="img-fluid rounded gallery-img" src="img/nigerian-electronics.jpg" alt="" />
                        </div>
                        <div class="col-4">
                            <img class="img-fluid rounded gallery-img" src="img/hinckley-recycling.png" alt="" />
                        </div>
                        <div class="col-4">
                            <img class="img-fluid rounded gallery-img" src="img/rubitec-2.jpeg" alt="" />
                        </div>
                        <div class="col-4">
                            <img class="img-fluid rounded gallery-img" src="img/solar-panels.jpg" alt="" />
                        </div>
                        <div class="col-4">
                            <img class="img-fluid rounded gallery-img" src="img/solar-recycling.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Newsletter</h5>
                    <p>Sign up to receiver regular updates of our service providers.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a href="#">ElectroGreen</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        Designed By <a href="https://.com">Group 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/admin.js"></script>
</body>

</html>